<p>newsletter works!</p>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
						<div class="newsletter_title_container">
							<div class="newsletter_icon"><img src="images/send.png" alt=""></div>
							<!-- <div class="newsletter_title" [ngStyle] = "{ backgroundColor: getCor() }">Sign up for Newsletter</div> -->
							<div class="newsletter_title" [ngClass]="{ 'enviado' : emailEnviado}">Sign up for Newsletter</div>
              <div class="newsletter_text">
                <!-- <p [innerText]="modificaTexto"></p> É melhor usar o String Interpolation -->
                <!-- <p>{{ textoNewsletter }}</p> -->
                <!-- <p>{{ email }}</p> -->
                <p *ngIf="emailEnviado;else naoEnviado">Email enviado com sucesso: {{ email }}</p>
                <ng-template #naoEnviado>
                  <p>Email não foi enviado ainda</p>
                </ng-template>

              </div>

						</div>
						<div class="newsletter_content clearfix">
              <!-- <form action="#" class="newsletter_form"> -->
								<input type="email" class="newsletter_input" required="required" placeholder="Enter your email address" (input)="digitarEmail($event)">
								<input type="email" class="newsletter_input" required="required" placeholder="Enter your email address" [(ngModel)] = 'email'>
								<button class="newsletter_button"  type="button" [disabled]="!permiteNewsletter" (click)="mudarNewsletter()">Subscribe</button>
              <!-- </form> -->
							<div class="newsletter_unsubscribe_link"><a href="#">unsubscribe</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
